body {
font-family: 'lato', sans-serif;
font-size: 1em;
color: #a2e8dd;
text-align: left;
}

ul, 
ol {
list-style: none;
margin: 0;
padding: 0;
}

a {
color: #a2e8dd;
text-decoration: none;
}

h1, h2, h3 {
font-family: 'Playfair+display', serif;
font-size: 2.25em;
font-weight: 700;
margin: 0;
color: #a2e8dd;
}

h4 {
}

p {
font-size: 1.25em;
line-height: 1.285;
}

img {
width: 100%;
}

figure {
margin: 0;
}

.content-wrapper {
width: 90%;
margin: 0 auto;
}